<div class="row">
    <div class="col-sm-3">
        <form ng-submit="$ctrl.getImages()">
            <div class="form-group">
                <input type="search"
                       class="form-control"
                       id="search-input"
                       ng-model="$ctrl.searchInput"
                       placeholder="Search..."
                       autocomplete="off">
            </div>
        </form>
    </div>
</div>
<div class="row"
     infinite-scroll="$ctrl.nextPage()"
     infinite-scroll-disabled="$ctrl.busy"
     infinite-scroll-distance="1">
    <div class="col-sm-3" ng-repeat="photo in $ctrl.photos">
        <div class="card flickr-card">
            <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_n.jpg"
                 alt="{{ photo.title }}"
                 class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-truncate">
                    <a href="https://www.flickr.com/photos/{{ photo.owner }}/{{photo.id}}/">
                        {{photo.title}}
                    </a>
                </h5>
                <p>
                    Author flickr
                    <a href="https://www.flickr.com/people/{{ photo.owner }}">page</a>
                </p>
            </div>
        </div>
    </div>
</div>

