<button type="button"
        ng-click="$ctrl.moreInfo(photo)"
        class="btn btn-primary"
        ng-if="!$ctrl.photoDetail">
    Show details
</button>
<div ng-if="$ctrl.photoDetail">
    <p>
        <strong>By</strong> <a href="https://www.flickr.com/people/{{ $ctrl.photo.owner }}">
        {{ $ctrl.photoDetail.owner.username }}</a>
    </p>
    <p>
        <strong>Description:</strong> {{ $ctrl.photoDetail.description._content }}
    </p>
    <p>
        <strong>Tags:</strong>
        <span ng-repeat="tag in $ctrl.photoDetail.tags.tag">
            <a href="https://www.flickr.com/photos/tags/{{ tag._content }}" class="badge badge-primary">{{ tag.raw }}</a>
        </span>
    </p>
</div>
